{% extends "../base.html" %}
{% block content %}
    <form method="post" action="/images/?host={{hid}}">
        <button type="submit" class="btn btn-success">创建镜像</button>
        {% module xsrf_form_html() %}
    </form>
    <table class="table table-striped">
      <tr>
          <th>仓库:标签</th>
          <th>ID</th>
          <th>创建时间</th>
          <th>大小</th>
      </tr>
      {% for image in images %}
        <tr>
            <td>
                <ul>
                    {% for i in image.RepoTags %}
                        <li>{{i}}</li>
                    {% end %}
                </ul>
            </td>
            <td><a href="/image/{{hid}}/{{image.Id}}">{{image.Id}}</a></td>
            <td>{{image.Created}}</td>
            <td>{{image.VirtualSize}}</td>
        </tr>
      {% end %}
    </table>
{% end %}